*.pptx filter=lfs diff=lfs merge=lfs -text
*.* !text !filter !merge !diff
./presentation/Physics-Informed[[:space:]]Regression[[:space:]]of[[:space:]]Aircraft[[:space:]]Performance[[:space:]]from[[:space:]]Minimal[[:space:]]Flight[[:space:]]Data.pptx !text !filter !merge !diff
*.pptx !text !filter !merge !diff
*.* filter=lfs diff=lfs merge=lfs -text
* filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
